ul,
li,
p,
div,
span,
i,
h1,
h2,
h3 ,body,input{
    margin: 0;
    padding: 0;
}
input{
    border: none;
    outline: none;
}
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}
button{
    border: none;
}

@font-face {
    font-family: 'iconfont';
    /* Project id 3114419 */
    src: url('//at.alicdn.com/t/font_3114419_bqfpdbwmvhe.woff2?t=1646879515951') format('woff2'),
        url('//at.alicdn.com/t/font_3114419_bqfpdbwmvhe.woff?t=1646879515951') format('woff'),
        url('//at.alicdn.com/t/font_3114419_bqfpdbwmvhe.ttf?t=1646879515951') format('truetype');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}